@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap');

:root {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: orangered;
    text-align: center;
}

h1{
    font-family: 'Bungee', cursive;
    color: orangered;
}

h3{
    margin-top: 25px;
    font-family: 'Press Start 2P', cursive;
    color: orangered;
    font-size: x-small;
}

main {
    margin: 0 auto;
    width: 900px;
    height: 900px;
}

img {
    margin: 0 auto;
    border: 1px double wheat;
    width: 350px;
    height: 350px;
}

a {
    margin: 0 auto;
    text-align: center;
    font-size: larger;
    font-family: 'Press Start 2P', cursive;

}

a:link {
    text-decoration: wheat;
    text-decoration: none;
}

a:hover {
    text-decoration: goldenrod;
    text-decoration: underline;
}

button {
    margin: 0 auto;
    background-color: goldenrod;
    border: wheat;
    color: orangered;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;

}